@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@100;400&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.thin {
    font-weight: 300;
}
nav {
    flex: 1;
    text-align: center;
}
.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to right, #E09E9E, #424774);
    top: 0;
    z-index: -1;
}
nav ul li {
    display: inline-block;
    margin-right: 150px;
    position: relative;
    bottom: 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
}
nav ul li a:hover {
    color: #E09E9E;
}
.menu{
    width: 40px;
    cursor: pointer;
    position: relative;
    right: 300px;
    display: none;
}
.bag{
    width: 25px;
    cursor: pointer;
    position: relative;
    left: 100px;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.text {
    flex-basis: 40%;
    margin-left: 200px;
    margin-bottom: 250px;
}
.text h1 {
    font-size: 82px;
    font-family: 'Lato', sans-serif;
}
.text h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.text h4 {
    margin: 5px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.buy-button {
    width: 130px;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 6px;
    background: linear-gradient(to right, #E09E9E, #da63cc);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.product {
    position:relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.product.headphones {
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 50px;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#424774, #a0a3b9);
    border-radius: 20px 0 0 20px;
    height: 80%;
    width: 90%;
    z-index: -1;
    left: 265px;
}

/*produkt sida börjar här*/
.container-2 {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
}
.product-2 {
    text-align: center;
    margin-top: 40px;
}
.product-2 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0 220px 5px 0;
}
.product-2 .headphones-2 {
    width: 30%; 
    border: 1px solid #424774;
    background-color: #fefefe;
    border-radius: 10px;
    margin-left: 30px;
}
.description {
    text-align: left;
    position: absolute;
    top: 200px;
    left: 200px;
    font-family: 'Poppins', sans-serif;
}
.description h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.description p {
    font-size: 18px;
    border: 0px solid;
    width: 400px;
    margin-bottom: 30px;
}
.description h4 {
    display: inline-block;
    font-size: 28px;
    margin-right: 90px;
}
.description button {
    margin-left: 90px;
}
.specification {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 200px;
    left: 1300px;
}
.specification ul {
    list-style: none;
}
/* varukorg sida börjar här */
.container-3 {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
}
.cart {
    display: flex;
    padding: 5px;
    width: 55%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
}
.cart-item, .cart-price, .cart-quantity, .cart-total {
    flex: 2;
    text-align: left;
    padding: 10px;
    margin-left: 60px;
}
.cart-container {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    padding: 5px;
    width: 55%;
    font-family: 'Poppins', sans-serif;
}
.cart-container h4 {
    margin: 40px 100px 40px 90px;
    padding: 10px;
    white-space: nowrap;
}
.headphones-3 {
    width: 10%;
    margin: 10px;
    padding-right: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.quantity {
    display: flex;
    font-size: 26px;
    padding: 50px 70px 0 70px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.quantity h6 {
    padding-left: 8px;
    padding-right: 8px;
}
.quantity-button {
    height: 25px;
    width: 25px;
}
.checkout-buttons {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-left: 830px;
    margin-top: 10px;
}
.continue {
    width: 200px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.checkout {
    width: 150px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #424774;
    color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width:667px){
    nav ul {
        width: 100%;
        background: linear-gradient(#E09E9E, #424774);
        position: absolute;
        top: 49px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 20px;
        left: 200px;
    }
    .menu{
        position: absolute;
        left: 290px;
        display: block;
        cursor: pointer; 
    }
    .product-info{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .product{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .product .headphones {
        width: 50%;
        position: relative;
        left: 200px;
        top: 0;
    }
    .text{
        position:relative;
        right: 120px;
        bottom: 120px;
}
    .text h1 {
        font-size: 40px;
    }
    .text h3{
        font-size: 28px;
    }
    .text h4{
        font-size: 18px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .bag {
        width: 15px;
        left: 0;
        top: 1px;
        margin-left: 30px;
    }   





    .check-out {
        padding: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .text-box {
        gap: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .text-box ul{
        list-style: none;
    }
    .text-box ul li {
        display: flex;
        align-items: center;
        margin: 25px;
        font-family: 'Poppins', sans-serif;
    }
    .text-box ul li label {
        width: 150px; 
        font-family: 'Poppins', sans-serif;
    }
    .text-box ul li input {
        width: 60%;
        padding: 5px;
    }
    .payment {
        text-align: center;
    }
    .payment button {
        margin: 10px;
        width: 120px;
        height: 25px;
    }
}