@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@100;400&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
header {
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    letter-spacing: 1px;
}
.thin {
    font-weight: 100;
}
nav {
    text-align: center;
    margin-bottom: 30px;
}
.navbar ul li {
    display: inline-block;
    margin-right: 50px;
}
.navbar ul li a {
    text-decoration: none;
    margin: 0 100px 0 100px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 22px;
    color: #000;
}
.navbar ul li a:hover {
    color: #fff;
}
.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #E09E9E, #424774);
    z-index: -1;
    top: 0;
}
.icons {
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    gap: 25px;
}
.menu {
    width: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}
.bag {
    width: 25px;
    cursor: pointer;
    margin-top: 5px;
}
.product-text {
    width: 30%;
    margin: 200px 50px 0 350px;
}
.product-text h1 {
    font-size: 82px;
    font-family: 'Lato', sans-serif;
}
.product-text h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.product-text h4 {
    margin: 5px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.buy-button {
    width: 130px;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 6px;
    background: linear-gradient(to right, #E09E9E, #da63cc);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.buy-button:hover {
    box-shadow: 0px 4px;
    width: 150px;
}
.headphones {
    position: absolute;
    right: 0;
    margin-right: 250px;
    transform: translateY(-60%);
}
.color-box {
    position: absolute;
    top: 20%;
    background: linear-gradient(#424774, #a0a3b9);
    border-radius: 20px 0 0 20px;
    height: 70%;
    width: 40%;
    z-index: -1;
    right: 0;
}
/*produkt sida börjar här*/
    .product-container {
        display: grid;
        place-items: center;
    }
    .headphones-2 {
        border: 1px solid black;
        margin-top: -400px;
    }
    .info {
        font-family: 'Poppins';
        width: 25%;
        margin-top: 200px;
        margin-left: 100px;
    }
    .eh {
        font-size: 48px;
    }
    .description p {
        font-size: 18px;
        font-style: italic;
    }
    .buy-price {
        display: flex;
        gap: 150px;
        font-size: 28px;
        margin-top: 20px;
    }
/* varukorg sida börjar här */
.table {
    border-collapse: collapse;
    margin-left: 50px;
    width: 55%;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
th {
    font-size: 20px;
    padding: 10px;
}
tr {
    height: 40px;
}
td {
    padding: 10px;
    text-align: center;
}
.item-img {
    width: 100%;
}
.item {
    width: 20%
}
.quantity {
    display: flex;
    align-items: center;
    border: none;
    font-size: 30px;
    margin-top: 90px;
}
.quantity-button {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.checkout-buttons {
    display: flex;
    gap: 30px;
    margin: 20px 0 0 880px;
}
.continue {
    cursor: pointer;
    width: 180px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.checkout {
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #424774;
    color: #fff;
    border-radius: 10px;
}
@media only screen and (max-width:667px){
    .logo {
        margin-top: 5px;
        font-size: 26px;
        
    }
    .navbar:before {
        width: 100%;
    }
    .icons {
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .menu {
        display: show;
    }
    nav ul {
        background: linear-gradient(to right,#E09E9E, #424774);
        position: absolute;
        top: 50px;
        z-index: 2;
    }

   /* 
    nav ul li{
        display: block;
        margin-top: 20px;
        left: 200px;
    }
    .product-info{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .text h1 {
        font-size: 40px;
    }
    .text h3{
        font-size: 28px;
    }
    .text h4{
        font-size: 18px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .bag {
        width: 15px;
        left: 0;
        top: 1px;
        margin-left: 30px;
    }   */
/* Produkt sida börjar här */
    .info-container {
        margin-left: 200px;
    }
    .headphones-2 {
        width: 60%;
        margin: 60px 15px 20px 0;
    }
    .eh {
        position: absolute;
        margin: -100px 0 0 -140px;
        font-size: 26px;
    }
    .description p {
        font-size: 13px;
        width: 300px;
        text-align: center;
        margin: 270px 5px 0 -190px;
    }
    .buy-price {
        gap: 30px;
        position: absolute;
        top: 0;
        margin: 210px 0 0 -135px;
        font-size: 18px;
    }
    .buy-price .buy-button {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
/* Checkout sida börjar här */
    .check-out {
        font-family: 'Poppins', sans-serif;
    }
    .check-out h2 {
        padding: 10px;
    }
    .information {
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 55px;
    }
    .information ::placeholder {
        font-size: 16px;
        padding: 5px;
    }
    .information input{
        font-size: 20px;
        width: 260px;
        height: 40px;
        border: 2px solid #000;
    }
    .payment {
        text-align: center;
    }
    .payment button {
        margin: 10px;
        width: 120px;
        height: 30px;
    }
}