@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@100;400&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.thin {
    font-weight: 300;
}
nav {
    flex: 1;
    text-align: center;
}
.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to right, #E09E9E, #424774);
    top: 0;
    z-index: -1;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 150px;
    position: relative;
    left: 80px;
    bottom: 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
}
nav ul li a:hover {
    color: #E09E9E;
}
.menu{
    width: 40px;
    cursor: pointer;
    position: relative;
    right: 300px;
    display: none;
}
.bag{
    width: 25px;
    cursor: pointer;
    position: relative;
    left: 100px;
    bottom: 3px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.text {
    flex-basis: 40%;
    margin-left: 200px;
    margin-bottom: 250px;
}
.text h1 {
    font-size: 82px;
    font-family: 'Lato', sans-serif;
}
.text h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.text h4 {
    margin: 5px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
button {
    width: 130px;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 6px;
    background: linear-gradient(to right, #E09E9E, #da63cc);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.product {
    position:relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.product.headphones {
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 50px;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#424774, #a0a3b9);
    border-radius: 20px 0 0 20px;
    height: 80%;
    width: 90%;
    z-index: -1;
    left: 265px;
}

/*produkt sida börjar här*/
.container-2 {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
    overflow: hidden;
}
.product-2 {
    text-align: center;
    margin-top: 40px;
}
.product-2 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0 220px 5px 0;
}
.product-2 .headphones-2 {
    width: 30%; 
    border: 1px solid #424774;
    background-color: #fefefe;
    border-radius: 10px;
}
.description {
    position: relative;
    top: 200px;
    left: 200px;
    font-family: 'Poppins', sans-serif;
}
.description h2 {
    font-size: 40px;
}
.description p {
    font-size: 18px;
    border: 0px solid;
    width: 400px;
    position: absolute;
    left: 0;
}
.specification {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    position: relative;
    left: 1300px;
    bottom: 500px;
}

.specification ul {
    list-style: none;
}

@media only screen and (max-width:667px){
    nav ul {
        width: 100%;
        background: linear-gradient(#E09E9E, #424774);
        position: absolute;
        top: 49px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 20px;
        left: 200px;
    }
    .menu{
        position: relative;
        left: 25px;
        display: block;
        cursor: pointer; 
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .headphones {
        width: 50%;
        position: relative;
        left: 200px;
        top: 0;
    }
    .text{
        position:relative;
        right: 120px;
        bottom: 120px;
}
    .text h1 {
        font-size: 40px;
    }
    .text h3{
        font-size: 28px;
    }
    .text h4{
        font-size: 18px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .bag {
        width: 15px;
        left: 0;
        top: 1px;
        margin-left: 30px;
    }   
}