@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@100;400&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    letter-spacing: 1px;
}
.thin {
    font-weight: 100;
}
nav {
    text-align: center;
    margin-bottom: 30px;
}
.navbar ul li {
    display: inline-block;
    margin-right: 50px;
}
.navbar ul li a {
    text-decoration: none;
    margin: 0 100px 0 100px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 22px;
    color: #000;
}
.navbar ul li a:hover {
    color: #fff;
}
.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #E09E9E, #424774);
    z-index: -1;
    top: 0;
}
.icons {
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    gap: 25px;
}
.menu {
    width: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}
.bag {
    width: 30px;
    cursor: pointer;
}
.product-text {
    width: 30%;
    margin: 200px 50px 0 350px;
    flex-basis: 40%;
}
.product-text h1 {
    font-size: 82px;
    font-family: 'Lato', sans-serif;
}
.product-text h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.product-text h4 {
    margin: 5px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.product-text h4 {

}
.buy-button {
    width: 130px;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 6px;
    background: linear-gradient(to right, #E09E9E, #da63cc);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.buy-button:hover {
    box-shadow: 0px 4px;
    width: 150px;
}
.headphones {
    position: absolute;
    right: 0;
    margin-right: 250px;
    transform: translateY(-60%);
}

.color-box {
    position: absolute;
    top: 20%;
    background: linear-gradient(#424774, #a0a3b9);
    border-radius: 20px 0 0 20px;
    height: 70%;
    width: 40%;
    z-index: -1;
    right: 0;
}

/*produkt sida börjar här*/
.container-2 {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
    overflow: hidden;
}
.product-2 {
    text-align: center;
    margin-top: 40px;
}
.headphones-2 {
    width: 30%; 
    border: 1px solid #424774;
    background-color: #fefefe;
    border-radius: 10px;
    margin-left: 30px;
}
.info-container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 200px;
    margin-left: 90px;
}
.eh {
    font-size: 40px;
}
.description p {
    font-size: 18px;
    border: 0px solid;
    width: 400px;
    margin: 10px 0 10px 0;
}
.buy-price {
    display: flex;
    gap: 150px;
    font-size: 28px;
}
.specification {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 200px;
    left: 1300px;
}
.specification ul {
    list-style: none;
}
/* varukorg sida börjar här */
.container-3 {
    width: 100%;
    padding-right: 7%;
    box-sizing: border-box;
    overflow: hidden;
}
.cart {
    display: flex;
    padding: 5px;
    width: 55%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
}
.cart-item, .cart-price, .cart-quantity, .cart-total {
    flex: 2;
    padding: 10px;
    margin-left: 60px;
}
.cart-container {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    padding: 5px;
    width: 55%;
    font-family: 'Poppins', sans-serif;
}
.cart-container h4 {
    margin: 40px 100px 40px 90px;
    padding: 10px;
    white-space: nowrap;
}
.headphones-3 {
    width: 10%;
    margin: 10px;
    padding-right: 100px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.quantity {
    display: flex;
    font-size: 26px;
    padding: 50px 70px 0 70px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.quantity h6 {
    padding-left: 8px;
    padding-right: 8px;
}
.quantity-button {
    height: 25px;
    width: 25px;
}
.checkout-buttons {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-left: 830px;
    margin-top: 10px;
}
.continue {
    width: 200px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.checkout {
    width: 150px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #424774;
    color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width:667px){
    nav ul {
        width: 100%;
        background: linear-gradient(to right,#E09E9E, #424774);
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 20px;
        left: 200px;
    }
    .menu{
        position: absolute;
        left: 290px;
        display: block;
        cursor: pointer; 
    }
    .product-info{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .product{
        margin-bottom: 50px;
    }
    .product .headphones {
        width: 50%;
        position: relative;
        left: 200px;
        top: 0;
    }
    .text{
        position:relative;
        right: 120px;
        bottom: 120px;
}
    .text h1 {
        font-size: 40px;
    }
    .text h3{
        font-size: 28px;
    }
    .text h4{
        font-size: 18px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .bag {
        width: 15px;
        left: 0;
        top: 1px;
        margin-left: 30px;
    }   
/* Produkt sida börjar här */
    .info-container {
        margin-left: 200px;
    }

    .headphones-2 {
        width: 60%;
        margin: 60px 15px 20px 0;
    }
    .eh {
        position: absolute;
        margin: -100px 0 0 -140px;
        font-size: 26px;
    }
    .description p {
        font-size: 13px;
        width: 300px;
        text-align: center;
        margin: 270px 5px 0 -190px;
    }
    .buy-price {
        gap: 30px;
        position: absolute;
        top: 0;
        margin: 210px 0 0 -135px;
        font-size: 18px;
    }
    .buy-price .buy-button {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }

/* Checkout sida börjar här */
    .check-out {
        font-family: 'Poppins', sans-serif;
    }
    .check-out h2 {
        padding: 10px;
    }
    .information {
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 55px;
    }
    .information ::placeholder {
        font-size: 16px;
        padding: 5px;
    }
    .information input{
        font-size: 20px;
        width: 260px;
        height: 40px;
        border: 2px solid #000;
    }
    .payment {
        text-align: center;
    }
    .payment button {
        margin: 10px;
        width: 120px;
        height: 30px;
    }
}