@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@100;400&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    cursor: pointer;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
.bold {
    font-weight: bold;
}
.thin {
    font-weight: 300;
}
nav {
    flex: 1;
    text-align: center;
}
.navbar::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to right, #E09E9E, #424774);
    top: 0;
    left: 0;
    z-index: -1;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 150px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
nav ul li a:hover {
    color: #E09E9E;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    left: 200px;
    bottom: 200px;
}
.col-1 h1 {
    font-size: 82px;
    font-family: 'Lato', sans-serif;
}
.col-1 h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 10px 0 10px;
    font-family: 'Poppins', sans-serif;
}
.col-1 h4 {
    margin: 10px 0;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: black;
    border-radius: 6px;
    background: linear-gradient(to right, #E09E9E, #da63cc);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}
button img {
    width: 30px;
    display: none;
}
button:hover img {
    display: block;
}
button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2 {
    position:relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .headphones {
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 50px;

}

.color-box {
    position: absolute;
    right: 0;
    top: 0px;
    background: linear-gradient(#424774, #a0a3b9);
    border-radius: 20px 0 0 20px;
    height: 80%;
    width: 90%;
    z-index: -1;
    left: 270px;
}
hr {
    position: relative;
    bottom: 150px;
    border: solid 2px #E09E9E;
}

@media only screen and (max-width:700px){

    nav ul{
        width: 100%;
        background: linear-gradient(#424774, #a0a3b9);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        display: block;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }
}