@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lato:wght@100;400&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    cursor: pointer;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
.bold {
    font-weight: bold;
}
.thin {
    font-weight: 300;
}
nav {
    flex: 1;
    text-align: center;
}
.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to right, #E09E9E, #424774);
    top: 0;
    left: 0;
    z-index: -1;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 150px;
    position: relative;
    left: 80px;
    bottom: 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
nav ul li a:hover {
    color: #E09E9E;
}
.menu{
    width: 40px;
    cursor: pointer;
    position: relative;
    right: 300px;
    display: none;
}
.bag{
    width: 25px;
    cursor: pointer;
    position: relative;
    left: 100px;
    bottom: 3px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    left: 200px;
    bottom: 200px;
}
.col-1 h1 {
    font-size: 82px;
    font-family: 'Lato', sans-serif;
}
.col-1 h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 10px 0 10px;
    font-family: 'Poppins', sans-serif;
}
.col-1 h4 {
    margin: 10px 0;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
button {
    width: 140px;
    border: 0;
    padding: 12px;
    outline: none;
    color: black;
    border-radius: 6px;
    background: linear-gradient(to right, #E09E9E, #da63cc);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}
button img {
    width: 30px;
    display: none;
}
button:hover img {
    display: block;
}
button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2 {
    position:relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .headphones {
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 50px;

}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#424774, #a0a3b9);
    border-radius: 20px 0 0 20px;
    height: 80%;
    width: 90%;
    z-index: -1;
    left: 265px;
}

@media only screen and (max-width:667px){

    nav ul {
        width: 100%;
        background: linear-gradient(#424774, #a0a3b9);
        position: absolute;
        top: 49px;
        right: 0;
        z-index: 2;
    
    }
    nav ul li{
        display: block;
        margin-top: 20px;
        position: relative;
        left: 200px;
    }

    .menu{
        position: relative;
        left: 25px;
        display: block;
        cursor: pointer; 
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .headphones {
        width: 50%;
        position: relative;
        left: 200px;
        top: 0;
    }
    .col-1 h1 {
        position: relative;
        right: 250px;
        top: 50px;
        font-size: 40px;
    }
    .col-1 h3{
        font-size: 28px;
        position: relative;
        right: 250px;
        top: 50px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .col-1 h4{
        font-size: 18px;
        position: relative;
        right: 250px;
        top: 40px;
    }
    button{
        position: relative;
        right: 250px;
        top: 40px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
}